<div class="row">
  <input type="text" class="form-control" (keyup)="changeText($event)" />
</div>
<br>
<div class="row">{{ message }}</div>
<div class="row">
  <div class="col-md-4" *ngFor="let room of displayRooms">
    <app-room [room]="room" [showForm]="true" (notify)="addToCart($event)"></app-room>
    <br>
  </div>
</div>
<div *ngIf="this.checkoutItems.length > 0">
  <app-checkout-item [checkoutItems] ="checkoutItems"></app-checkout-item>
</div>
<!-- 
  Example of modifying html attribute.
  using [attr.colspan] will re-render the element to change the attribute value.
  Beacuse in html attribute values never change. only properties can be changed.
-->
<!--
<table class="table table-bordered">
  <tr>
    <td>abc</td>
    <td>Alphabet</td>
  </tr>
  <tr>
    <td [attr.colspan]="2">Fruits
    </td>
  </tr>
</table>
-->